extends auth

mixin formgroup(labelText, controlId, controlType, colSize, controlValue)
    .form-group
        label(class='control-label col-sm-2 col-xs-3' for=controlId)= labelText
        if !colSize
            .col-md-3.col-sm-4.col-xs-6
                input(id=controlId, type=controlType, class='form-control')
        else
            !='<div class="col-sm-' + (colSize+1) + ' col-xs-' + (colSize+3) + ' col-md-' + colSize + '">'
            input(id=controlId, name=controlId, type=controlType, class='form-control', placeholder=labelText, value=controlValue)
            != '</div>'
        if block
            block

block auth
  form.signup.form-horizontal(action="/users", method="post")
    +formgroup('Full Name', 'name', 'text', 4, user.name)
    +formgroup('Email', 'email', 'text', 4, user.email)
    +formgroup('Username', 'username', 'text', 4, user.username)
    +formgroup('Password', 'password', 'password', 4)
    .form-group.form-action-button
        .col-md-3.col-sm-4.col-xs-9.col-sm-offset-2
             button.btn.btn-primary(type='submit') Sign up
             &nbsp;
             | or&nbsp;
             a.show-login(href="/signin") login
